# Environment
.env

# Root node modules (if any)
node_modules/

# Frontend (Vite)
chat-app-frontend/node_modules
chat-app-frontend/dist
chat-app-frontend/.env

# Backend (Node)
chat-app-backend/node_modules
chat-app-backend/.env

# Logs
npm-debug.log
yarn.lock
package-lock.json

# OS
.DS_Store
